<div *ngIf="flight">
    <h2>{{flight.id}} Details</h2><button type="button" class="btn btn-primary" (click)="goBack()">Back</button>

    <dl class="dl-horizontal">
        <dt>Flight Number</dt>
        <dd>{{flight.flightNumber.carrierCode}} {{flight.flightNumber.number}}</dd>
        <dt>Departure Airport: </dt>
        <dd>{{flight.departureAirport}}</dd>
        <dt>Arrival Airport: </dt>
        <dd>{{flight.arrivalAirport}}</dd>
        <dt>Departure Terminal: </dt>
        <dd>{{flight.depTerminalName}}</dd>
        <dt>Departure Time: </dt>
        <dd>{{flight.localDepartureTime | date: 'medium' }}</dd>
        <dt>Arrival Time: </dt>
        <dd>{{flight.localArrivalTime | date: 'medium'}}</dd>
        <dt>Disrupted: </dt>
        <dd>{{flight.isDisrupted}}</dd>
        <dt>Seats Available: </dt>
        <dd>{{flight.seatsAvailable}}</dd>
        <dt>Adult Price: </dt>
        <dd>{{flight.prices.adult?.value | currency: 'GBP':true:'1.2-2'}}</dd>
        <dt>with Debit Card: </dt>
        <dd>{{flight.prices.adult?.valueWithDebitCard | currency: 'GBP':true:'1.2-2'}}</dd>
        <dt>with Credit Card: </dt>
        <dd>{{flight.prices.adult?.valueWithCreditCard | currency: 'GBP':true:'1.2-2'}}</dd>
        <dt>Child Price: </dt>
        <dd>{{flight.prices.child?.value | currency: 'GBP':true:'1.2-2'}}</dd>
        <dt>with Debit Card: </dt>
        <dd>{{flight.prices.child?.valueWithDebitCard | currency: 'GBP':true:'1.2-2'}}</dd>
        <dt>with Credit Card: </dt>
        <dd>{{flight.prices.child?.valueWithCreditCard | currency: 'GBP':true:'1.2-2'}}</dd>
        <dt>Infant Price: </dt>
        <dd *ngIf="flight.prices.infant !== null">{{flight.prices.infant?.value | currency: 'GBP':true:'1.2-2'}}</dd>
        <dd *ngIf="flight.prices.infant === null">{{0.00 | currency: 'GBP':true:'1.2-2'}}</dd>
        <dt>with Debit Card: </dt>
        <dd *ngIf="flight.prices.infant !== null">{{flight.prices.infant?.valueWithDebitCard | currency: 'GBP':true:'1.2-2'}}</dd>
        <dd *ngIf="flight.prices.infant === null">{{0.00 | currency: 'GBP':true:'1.2-2'}}</dd>
        <dt>with Credit Card: </dt>
        <dd *ngIf="flight.prices.infant !== null">{{flight.prices.infant?.valueWithCreditCard | currency: 'GBP':true:'1.2-2'}}</dd>
        <dd *ngIf="flight.prices.infant === null">{{0.00 | currency: 'GBP':true:'1.2-2'}}</dd>
    </dl>

</div>