<div class="container" *ngIf="flight">
    <h2>{{flight.id}} Details</h2><button  type="button" class="btn btn-primary" (click)="goBack()">Back</button>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Flight Number</td>
                    <td>{{flight.flightNumber.carrierCode}} {{flight.flightNumber.number}}</td>
                </tr>
                <tr>
                    <td>Departure Airport: </td>
                    <td>{{flight.departureAirport}}</td>
                </tr>
                <tr>
                    <td>Arrival Airport: </td>
                    <td>{{flight.arrivalAirport}}</td>
                </tr>
                <tr>
                    <td>Departure Terminal: </td>
                    <td>{{flight.depTerminalName}}</td>
                </tr>
                <tr>
                    <td>Departure Time: </td>
                    <td>{{flight.localDepartureTime | date: 'medium' }}</td>
                </tr>
                <tr>
                    <td>Arrival Time: </td>
                    <td>{{flight.localArrivalTime | date: 'medium'}}</td>
                </tr>
                <tr>
                    <td>Disrupted: </td>
                    <td>{{flight.isDisrupted}}</td>
                </tr>
                <tr>
                    <td>Number of Seats Available: </td>
                    <td>{{flight.seatsAvailable}}</td>
                </tr>
                <tr>
                    <td>Adult Price: </td>
                    <td>{{flight.prices.adult?.value | currency: 'GPB':true:'1.2-2'}}</td>
                </tr>
                <tr>
                    <td>with Debit Card: </td>
                    <td>{{flight.prices.adult?.valueWithDebitCard}}</td>
                </tr>
                <tr>
                    <td>with Credit Card: </td>
                    <td>{{flight.prices.adult?.valueWithCreditCard}}</td>
                </tr>
                <tr>
                    <td>Child Prices: </td>
                    <td>{{flight.prices.child?.value}}</td>
                </tr>
                <tr>
                    <td>with Debit Card: </td>
                    <td>{{flight.prices.child?.valueWithDebitCard}}</td>
                </tr>
                <tr>
                    <td>with Credit Card: </td>
                    <td>{{flight.prices.child?.valueWithCreditCard}</td>
                </tr>
                <tr>
                    <td>Infant Prices: </td>
                    <td>{{flight.prices.infant?.value}}</td>
                </tr>
                <tr>
                    <td>with Debit Card: </td>
                    <td>{{flight.prices.infant?.valueWithDebitCard}}</td>
                </tr>
                <tr>
                    <td>with Credit Card: </td>
                    <td>{{flight.prices.infant?.valueWithCreditCard}}</td>
                </tr>
                <tr>
            </tbody>
        </table>
    </div>
</div>
